
.content-wrap {
  column-gap: 5vw;
  grid-template-areas:
  'description headshot'
  'body body'
  'quote quote';
  place-items: center;
}
#about h2 {
  margin-block: 0 0.5em;
}

.about-intro {
  margin-bottom: 5rem;
  max-width: 90vmin;
  box-sizing: border-box;
}

.intro-blurb {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  align-self: stretch;
  /* border: 2px solid red; */
}

.intro-blurb .title {
  margin: 0;
  margin-bottom: 1em;
  line-height: 1em;
}

.intro-blurb p {
  flex-shrink: 1;
  margin: 0;
  text-align: justify;
  text-align-last: right;
}

.headshot-wrap {
  --size: 40vmin;
  grid-area: headshot;
  width: var(--size);
  height: var(--size);
  /* border: 1px solid red; */
  overflow: hidden;
  /* border: 5px solid var(--sundown); */
  border-radius: 20px;
  box-sizing: border-box;
  /* box-shadow: 2px 2px 2px var(--phantom); */
}

img.headshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.description {
  grid-area: description;
  padding: 2rem;
  width: 90vmin;
  background-color: var(--dark);
  /* border: 1px solid red; */
  transition: height 0.1s ease-out;
  border-radius: 10px;
  box-sizing: border-box;
}

.description h2 {
  color: var(--lite);
  align-self: flex-start;
  text-align: left;
}

.description h4 {
  align-self: flex-start;
  color: var(--day);
  font-family: var(--keyFont);
  text-align: left;
  margin-bottom: 0.5em;
}

.description div {
  transition: height 0.1s ease-out;
  color: var(--lite);
  text-align: left;
}

.description p em {
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--evening);
}

ul.about-shift {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
  /* border: 1px solid red; */
}

ul.about-shift h3 {
  margin: 0;
  margin-right: 0.25em;
  color: var(--day);
  line-height: 1em;
}

ul.about-shift li {
  --size: 0.5rem;
  cursor: pointer;
  display: block;
  width: var(--size);
  height: var(--size);
  background-color: var(--sundown);
  border-radius: 1px;
  transition: 0.1s ease-in-out;
}

ul.about-shift li:not(:last-of-type){
  margin-right: 0.25em;
}

 ul.about-shift li.active{
  background-color: red;
  transform: scale(1.25);
}

/* ---------- BODY ---------- */
.about-body {
  grid-area: body;
  margin-block: 1rem;
}

.about-body .skill-cache-wrapper {
  margin-block: 2rem;
}

.about-body .skill-cache {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.about-body .skill-cache-header {
  color: var(--sundown);
}

.about-body .skill-cache .skill-icon {
  color: var(--sundown);
  font-size: 3rem;
}

.about-body .skill-cache .skill-name {
  color: var(--sundown);
  font-weight: 500;
  margin-block: 0.5em;
}

.about-body .resume-button {
  padding-inline: 0;
  color: var(--sundown);
  font-size: larger;
  font-weight: 600;
  letter-spacing: 0.05em;
  border: none;
  border-bottom: 3px solid var(--day)
}



/* ---------- QUOTE ---------- */

#about .quote-wrap {
  grid-area: quote;
}

/* ========================================= *\
|| >> HOVER <<
\* ========================================= */
@media (hover:hover) {

  ul.about-shift li:hover{
    background-color: red;
    transform: scale(1.25);
  }

  .about-body .resume-button:hover {
    --color: var(--mid);
    color: var(--color);
    border-bottom-color: var(--color);
  }
}

/* ========================================= *\
|| >> PORTRAIT MODE <<
\* ========================================= */

@media (orientation: portrait) {
  .about-intro.flex {
    flex-direction: column;
  }

  .about-intro.flex .headshot-wrap {
    --size: 90vw;
    flex-direction: column;
    order: -1;
  }

  .about-intro.flex .intro-blurb {
    width: auto;
    text-align: center;
  }

  .about-intro.flex .intro-blurb p {
    text-align-last: center;
  }
}

/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px) {
  #about .content-wrap.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #about > div {
    width: 100%;
  }

  #about .content-wrap .description {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
  }

  #about .content-wrap .headshot-wrap {
    --size: 90vmin;
    order: -1;
    width: var(--size);
    height: var(--size);
    margin-bottom: 2rem;
  }

  #about .about-body {
    width: 100%;
  }

  #about .about-body .skill-cache-wrapper {
    width: 100%;
  }

    #about .about-body .skill-cache-wrapper .skill-cache {
      display: block;
      /* grid-template-columns: repeat(auto-fit, minmax(1fr, 1rem)); */
      width: 100%;
      padding-inline: 1rem;
      box-sizing: border-box;
    }
}