#contact {
  position: relative;
  height: 75vh;
}

#contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/images/Collaborate-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  mix-blend-mode: multiply;
  /* opacity: 0.5; */
  z-index: 0;
}

#contact-content-wrapper {
  position: relative;
  padding: 4rem 3rem;
  background-color: var(--faint);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

#contact h2 {
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--lite);
  line-height: 1em;
  text-shadow: 2px 2px 2px var(--faint);
  z-index: 1;
}

#contact p {margin: 0}

#contact button {
  color: var(--lite);
  font-weight: 700;
  border: 2.5px solid var(--lite);
  /* transform: translateY(-2px); */
  transition: 0.1s ease-in-out;
  /* box-shadow: 0 2px 2px var(--faint); */
}

#contact button:hover {
  color: black;
  /* transform: translateY(0); */
  background-color: var(--lite);
  mix-blend-mode: lighten;
  /* box-shadow: none; */
}