footer {
  padding: 1rem 3rem;
  background-color: var(--darker);
  font-size: smaller;
  font-weight: normal;
  box-sizing: border-box;
}

footer .nav-to-top {
  margin-bottom: 1.5rem;
}

footer .icon-cache svg {
  fill: var(--lavender);
}

footer .icon-cache svg:hover {
  fill: var(--day);
}

footer .social-media-handle {
  color: var(--day);
}