.project-snap {
  position: relative;
  display: flex;
  width: 75vw;
  margin-bottom: 3rem;
  /* border: 1px solid red; */
}

.project-snap::before {
  --offset: 1em;
  content: '';
  position: absolute;
  display: block;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: 0;
  background-color: var(--dark);
  /* background-image: linear-gradient(175deg, var(--dark),var(--darker)); */
  border-radius: 20px;
}

.project-snap > * {
  width: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.project-gallery .image-wrapper {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.image-wrapper .scroller{
  position: absolute;
  cursor: pointer;
  padding: 0.75rem;
  opacity: 0;
  transition: 0.1s ease-out;
  /* border: 1px solid red; */
}

.image-wrapper:hover .scroller{
  opacity: .5;
}

.image-wrapper:hover .scroller:hover{
  opacity: 1;
}

.image-wrapper .scroller.prev{
  transform: rotate(180deg);
  justify-self: flex-start;
  left: 0;
}

.image-wrapper .scroller.next {
  justify-self: flex-end;
  right: 0;
}

.image-wrapper .scroller::before{
  content: '';
  display: block;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: var(--lavender);
  width: 0.5rem;
  height: 1rem;
}

.image-wrapper .scroller:hover::before{
  /* background-color: var(--lite); */
  filter: brightness(125%) saturate(200%);
}


.project-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--faint);
  transition: 0.2s;
}

.project-img.active {
  display: block;
}

.project-images-pager {
  margin-block: 1rem;
  padding-left: 0;
  list-style-type: none;
}

.project-images-pager li {
  --size: .5rem;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  background-color: var(--mid);
  border-radius: 10%;
  transition: 0.1s ease-in-out;
}

.project-images-pager li:hover,
.project-images-pager li:focus,
.project-images-pager li.active{
  background-color: var(--lavender);
  transform: scale(1.1);
}

.project-images-pager li:not(:last-of-type){
  margin-right: .5rem;
}

.project-caption {
  position: relative;
  padding: 3rem;
  padding-right: 5rem;
  text-align: left;
  box-sizing: border-box;
  /* border: 1px solid orange; */
}

.project-icon {
  --size: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: var(--size);
  height: var(--size);
  background-color: var(--lavender);
  border-radius: 20px;
  box-sizing: border-box;
  /* box-shadow: 1px 2.5px 2.5px hsla(258, 15%, 13%,0.25); */
  box-shadow: 3px 3px 3px hsla(258, 15%, 13%, 0.25);
}

.project-icon svg {
  width: 60%;
  filter: drop-shadow(2px 2px 2px var(--faint))
}

.project-caption h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  color: var(--lite);
  /* color: transparent;
  background-image: linear-gradient(to bottom, red, red, var(--red));
  background-clip: text; */
  font-size: 2rem;
  text-align: left;
  /* filter: drop-shadow(3px 3px 0 var(--darker)) */
  /* text-shadow: 2px 2px 0 var(--nite); */
  /* transform: rotate(-5deg); */
}

.project-caption .skill-cache li.skill-icon {
  color: var(--lavender);
  text-shadow: 2px 2px 2px var(--faint);
}

.project-caption p {
  margin: 0.5em 0 1em;
  color: var(--day);
}

a.project-visit-link {
  padding: 0.5em 1.5em;
  color: var(--lite);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  border: 2px solid var(--lite);
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  box-sizing: border-box;
}

a.project-visit-link:hover,
a.project-visit-link:focus {
  background-color: var(--lite);
  /* border-width: 0; */
  color: var(--darker);
}

/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px) {
  .project-snap {
    flex-direction: column;
    width: auto;
    padding-bottom: 2rem;
    background-color: var(--dark);
    border-radius: 10px;
  }

  .project-snap::before {
    display: none;
  }

  .project-snap > * {
    width: auto;
    /* margin-inline: 2px; */
  }

  .project-gallery .image-wrapper {
    --size: 90vmin;
    width: var(--size);
    height: var(--size);
  }

  /* .project-caption {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.5rem;
    grid-template-areas: 
    "icon title"
    "skills skills"
    "blurb blurb"
    "visit visit"
    ;
    place-items: center;
    padding: 1em;
  } */

  .project-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
  }

  .project-caption .project-icon {
    --size: 3rem;
    display: none;
    /* grid-area: icon; */
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 15px;
  }

  .project-caption h3 {
    /* grid-area: title; */
    text-align: center;
    font-size: 1.7rem;
  }
  
  /* .project-caption .skill-cache-wrapper {
    grid-area: skills;
  } */

  .project-caption p {
    /* grid-area: blurb; */
    text-align: justify;
    text-align-last: center;
  }

  /* .project-caption .project-visit-link {
    grid-area: visit;
  } */

}