.project-snap {
  position: relative;
  display: flex;
  max-width: 90vw;
  margin-bottom: 3rem;
  /* border: 1px solid red; */
}

.project-snap::before {
  --offset: 1em;
  content: '';
  position: absolute;
  display: block;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: 0;
  background-color: var(--dark);
  /* background-image: linear-gradient(175deg, var(--dark),var(--darker)); */
  border-radius: 20px;
}

.project-snap > * {
  width: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.project-gallery .image-wrapper {
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.image-wrapper .scroller{
  position: absolute;
  cursor: pointer;
  padding: 0.75rem;
  opacity: 0;
  transition: 0.1s ease-out;
  /* border: 1px solid red; */
}

.image-wrapper .scroller.prev{
  transform: rotate(180deg);
  justify-self: flex-start;
  left: 0;
}

.image-wrapper .scroller.next {
  justify-self: flex-end;
  right: 0;
}

.image-wrapper .scroller::before{
  content: '';
  display: block;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: var(--lavender);
  width: 0.5rem;
  height: 1rem;
}

.project-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--faint);
  transition: 0.2s;
}

.project-img.active {
  display: block;
}

.project-images-pager {
  margin-block: 1rem;
  padding-left: 0;
  list-style-type: none;
}

.project-images-pager.hide {
  visibility: hidden;
  pointer-events: none;
}

.project-images-pager li {
  --size: .5rem;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  background-color: var(--mid);
  border-radius: 10%;
  transition: 0.1s ease-in-out;
}

.project-images-pager li:not(:last-of-type){
  margin-right: .5rem;
}

.project-caption {
  position: relative;
  padding: 3rem;
  padding-right: 5rem;
  text-align: left;
  box-sizing: border-box;
  /* border: 1px solid orange; */
}

.project-icon {
  --size: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: var(--size);
  height: var(--size);
  background-color: var(--lavender);
  border-radius: 20px;
  box-sizing: border-box;
  /* box-shadow: 1px 2.5px 2.5px hsla(258, 15%, 13%,0.25); */
  box-shadow: 3px 3px 3px hsla(258, 15%, 13%, 0.25);
}

.project-icon svg {
  --size: 60%;
  width: var(--size);
  height: var(--size);
  filter: drop-shadow(2px 2px 2px var(--faint))
}

.project-caption .project-title {
  position: relative;
  display: inline-block;
  margin: 0;
  color: var(--lite);
  font-size: 2rem;
  line-height: 1em;
  text-align: left;
}

.project-caption .project-type {
  display: flex;
  align-items: center;
  margin: 0;
  color: red;
}

.project-caption .project-type::before,
.project-caption .project-type::after {
  color: var(--lavender);
  font-weight: bold;
  font-size: 1.5em;
}

.project-caption .project-type::before {
  content: '{ ';
  margin-right: 0.5ch;
}

.project-caption .project-type::after {
  content: ' }';
  margin-left: 0.5ch;
}

.project-caption .skill-cache li.skill-icon {
  color: var(--lavender);
  text-shadow: 2px 2px 2px var(--faint);
}

.project-caption p {
  margin: 0.5em 0 1em;
  color: var(--day);
}

.project-images-pager li:focus,
.project-images-pager li.active {
  background-color: var(--lavender);
  transform: scale(1.1);
}

a.project-visit-link {
  padding: 0.5em 1.5em;
  color: var(--lite);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
  border: 2px solid var(--lite);
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  box-sizing: border-box;
}

a.project-visit-link:focus {
  background-color: var(--lite);
  /* border-width: 0; */
  color: var(--darker);
}



/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover:hover){

  .image-wrapper:hover .scroller {
    opacity: .5;
  }

  .image-wrapper:hover .scroller:hover {
      opacity: 1;
    }

  .image-wrapper .scroller:hover::before {
    /* background-color: var(--lite); */
    filter: brightness(125%) saturate(200%);
  }

  a.project-visit-link:hover {
    background-color: var(--lite);
    /* border-width: 0; */
    color: var(--darker);
  }

  .project-images-pager li:hover {
    background-color: var(--lavender);
    transform: scale(1.1);
  }
}

/* ========================================= *\
|| >> PORTRAIT <<
\* ========================================= */

@media only screen and (orientation: portrait){
  .project-snap {
      flex-direction: column;
      width: auto;
      padding-bottom: 2rem;
      background-color: var(--dark);
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 2px 2px 2px var(--faint);
    }
  
    .project-snap::before {
      display: none;
    }
  
    .project-snap>* {
      width: auto;
    }
  
    /* .project-gallery .image-wrapper {
      --size: 90vmin;
      width: var(--size);
      height: var(--size);
    } */
  
    .project-img {
      box-shadow: none;
      border-radius: 0;
    }
  
    .project-caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 2rem;
    }
  
    .project-caption .project-icon {
      --size: 3rem;
      display: none;
      position: relative;
      width: var(--size);
      height: var(--size);
      border-radius: 15px;
    }
  
    .project-caption .project-title {
      text-align: center;
      font-size: 1.7rem;
    }
  
  
    .project-caption p {
      text-align: justify;
      text-align-last: center;
    }
  
}

/* ========================================= *\
|| >> TABLET <<
\* ========================================= */

@media only screen and (max-width: 1025px) {
  .project-snap {
    width: auto;
  }
}

/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px) {
  .project-snap {
    flex-direction: column;
    width: auto;
    padding-bottom: 2rem;
    background-color: var(--dark);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 2px var(--faint);
  }

  .project-snap::before {
    display: none;
  }

  .project-snap > * {
    width: auto;
    /* margin-inline: 2px; */
  }

  .project-gallery .image-wrapper {
    --size: 90vmin;
    width: var(--size);
    height: var(--size);
  }

  .project-img {
    box-shadow: none;
    border-radius: 0;
  }

  .project-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
  }

  .project-caption .project-icon {
    --size: 3rem;
    display: none;
    /* grid-area: icon; */
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 15px;
  }

  .project-caption h3 {
    /* grid-area: title; */
    text-align: center;
    font-size: 1.7rem;
  }
  
  /* .project-caption .skill-cache-wrapper {
    grid-area: skills;
  } */

  .project-caption p {
    /* grid-area: blurb; */
    text-align: justify;
    text-align-last: center;
  }

  /* .project-caption .project-visit-link {
    grid-area: visit;
  } */

}