#resume {
  padding-inline: 3rem;
  font-size: smaller;
  background-color: var(--mid);
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}

.modal #resume {
  width: 100%;
  /* max-width: 1280px; */
  background-color: hsla(247, 31%, 38%, 0.9);
}

#resume-caption, #resume-body {
  padding: 2rem;
}

/* --------------------------------------------- */
/* <><><><><><><><><> CAPTION <><><><><><><><><> */
/* --------------------------------------------- */

#resume-caption {
  width: 45%;
  max-width: 480px;
  margin-block: 2rem;
  background-color: var(--dark);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--phantom);
}

#resume-caption > *:not(:first-child):not(:last-child:first-child){
  margin-bottom: 0.75rem;
}

#resume-caption .name>* {
  color: var(--day);
}

.caption-summary {
  width: 90%;
  border: 1.5px solid var(--lavender);
  border-radius: 10px;
}

.caption-summary legend {
  position: relative;
  padding-inline: 0.5em;
  color: var(--lavender);
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.caption-summary legend::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 25%;
  transform: translateY(-50%);
  border-inline: 1.5px solid var(--lavender);
}

#resume .skill-cache h3 {
  color: var(--day);
}

.resume-connect {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.resume-connect .icon {
  --size: 0.9em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: 0.25em;
  /* border: 1px solid coral; */
}

.resume-connect .icon svg {
  width: 100%;
  height: 100%;
  fill: var(--lavender);
}

#resume-caption .skill-cache h4 {
  color: var(--lavender);
}


#resume-caption .social-media-cache {
  margin-top: 1rem;
}

#resume-caption .social-media-cache .icon-cache a {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
}

#resume-caption .icon-cache svg { 
  fill: var(--lavender);
}

#resume-caption .icon-cache svg:hover {
  fill: var(--day);
}

.resume-download {
  cursor: pointer;
  padding: .5em 1.25em;
  color: var(--lavender);
  border: 1.5px solid var(--lavender);
  border-radius: 100px;
  font-weight: 600;
  transition: 0.1s ease-out;
}

.resume-download:hover,
.resume-download:focus {
  background-color: var(--lavender);
  color: var(--dark);
}

.resume-download svg {
  --size: 0.75em;
  width: var(--size);
  height: var(--size);
  margin-right: 0.5rem;
  stroke: var(--lavender);
  stroke-width: 8;
  transform: rotate(90deg);
  border-right: 2px solid var(--lavender);
  /* border-left: 2px solid transparent; */
}

.resume-download:hover svg,
.resume-download:focus svg {
  stroke: var(--dark);
  border-right-color: var(--dark);
  /* margin: 0; */
}

/* .resume-download span {
  display: inline-block;
  overflow: hidden;
  transition: 0.1s ease-out;
}

.resume-download:hover span,
.resume-download:focus span{
  max-width: 0;
} */

/* ------------------------------------------ */
/* <><><><><><><><><> BODY <><><><><><><><><> */
/* ------------------------------------------ */

#resume-body {
  align-self: stretch;
  justify-content: flex-start;
  align-items: stretch;
  width: 55%;
  max-width: 40vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#resume-body h2,
#resume-body h3,
#resume-body h4
{ 
  margin: 0;
}
#resume-body h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#resume-body h3 {
  font-size: 1rem;
  font-weight: 500;
}

#resume-body section {
  margin-bottom: 1rem;
}

#resume-body section::before {
  content: attr(data-resume-section);
  display: block;
  margin-bottom: 0.7em;
  color: var(--lavender);
  font-size: 1.25rem;
  font-family: var(--keyFont);
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 2px var(--faint);
}

#resume-body .resume-section-title {
  margin-bottom: 0.75em;
}

/* ~~~~~~~~~~~ NAV ~~~~~~~~~~~ */

.resume-nav-wrapper {
  align-self: center;
  margin-bottom: 2rem;
  /* position: sticky;
  top: 0; */
}

.resume-nav {
  padding: 0.25rem;
  /* width: 75%; */
  /* max-width: 480px; */
  /* background-color: var(--dark); */
  border: 3px solid var(--lavender);
  border-radius: 100px;
  box-sizing: border-box;
  z-index: 1000;
}

.resume-nav-help {
  color: var(--lavender);
  font-family: var(--keyFont);
  font-size: small;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.1em;
}

.resume-nav a {
  --size: 64px;
  /* font-size: smaller; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-inline: 0.25em; */
  width: var(--size);
  height: var(--size);
  border: 3px solid transparent;
  border-radius: 50%;
  transition: 0.1s ease-out;
}

.resume-nav a:not(:last-of-type){
  margin-right: 0.25rem;
}

.resume-nav a:hover {
  /* background-color: var(--faint); */
  border-color: var(--lavender);
}

.resume-nav a svg {
  --size: 60%;
  width: var(--size);
  height: var(--size);
  fill: var(--lavender);
  filter: drop-shadow(2px 2px 2px var(--phantom));
  transition: 0.1s ease-out;
}

.resume-nav a:hover svg{
  transform: scale(1.1);
  fill: var(--day);
}

/* ~~~~~~~~~~ SKILLS ~~~~~~~~~~ */

#resume-body .skill-cache {
  position: relative;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* width: 75%; */
  padding: 1rem;
  /* line-height: 1em; */
  text-align: center;
  /* border: 1px solid red; */
  /* overflow-x: scroll; */
}

#resume-body .skill-cache::before,
#resume-body .skill-cache::after {
  --border: 3px solid var(--lavender);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  border-top: var(--border);
  border-bottom: var(--border);
}

#resume-body .skill-cache::before{
  left: 0;
  border-left: 3px solid var(--lavender);
  border-radius: 8px 0 0 8px;
}

#resume-body .skill-cache::after{
  right: 0;
  border-right: 3px solid var(--lavender);
  border-radius: 0 8px 8px 0;
}

#resume-body .skills-body {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  background-color: var(--faint);
  border-radius: 10px;
  box-sizing: border-box;
}

#resume-body .skills-body h3 {
  text-align: right;
}

#resume-body .skills-body p {
  display: flex;
  align-items: center;
  margin: 0;
  text-align: left;
}

/* ~~~~~~~~~~ PROJECTS ~~~~~~~~~~ */

#resume-body .project-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  background-color: var(--faint);
  border-radius: 10px;
  box-sizing: border-box;
}

#resume-body .project-wrapper a {
  text-align: right;
}

#resume-body .project-wrapper p {
  margin: 0;
  text-align: left;
}

/* ~~~~~~~~~~ EXPERIENCE ~~~~~~~~~~ */

.dropdown-entry {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 10px;
  /* transition: 0.1s ease-out; */
}

.dropdown-entry.open {
  background-color: var(--faint);
}

.dropdown-entry .entry-header {
  cursor: pointer;
  justify-self: stretch;
  /* margin-bottom: 1rem; */
  padding: 0.5rem 1rem;
  background-color: var(--dark);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px var(--faint);
}

.dropdown-entry .entry-header.flex {
  justify-content: space-between;
}

.dropdown-entry .entry-header > * {
  line-height: 1em;
}

.dropdown-entry .entry-insitution-name {
  color: var(--lavender);
  letter-spacing: 0.05em;
  text-align: left;
}

.dropdown-entry .entry-active-dates {
  color: var(--day);
  font-family: var(--keyFont);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1em;
}

.dropdown-entry .entry-header .to-arrow {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  margin-inline: 0.25em;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.dropdown-entry .entry-header .to-arrow svg {
  width: 100%;
  height: 100%;
  stroke: var(--lavender);
  stroke-width: 10;
  /* border: 1px solid orange; */
  box-sizing: border-box;
}

.dropdown-entry .education-data,
.dropdown-entry .entry-roles-list {
  --transition: max-height 0.2s ease-out;
  /* display: none; */
  max-height: 0;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  /* border: 1px solid red; */
}

.dropdown-entry .education-data.open,
.dropdown-entry .entry-roles-list.open{
  display: block;
  /* max-height: 500px; */
  opacity: 1;
  /* padding: 1rem; */
}

.dropdown-entry .list-entry-header {
  padding: 1rem;
}

.dropdown-entry .entry-roles-list .role-header h4 {
  margin-bottom: 0.25em !important;
  letter-spacing: 0.05em;
}

.role-header p {
  margin: 0;
  font-size: 0.9em;
  /* color: var(--day); */
}

.education-note-list,
.role-task-list {
  --border: 1.5px solid var(--lavender);
  margin-block: 0 1em;
  padding: 0 1rem 1rem;
  list-style-type: none;
  list-style-position: inside;
  /* border-left: var(--border);
  border-bottom: var(--border);
  border-bottom-left-radius: 10px; */
}

.education-note-list li,
.role-task-list li {
  /* display: flex;
  align-items: flex-start; */
  font-size: 0.9rem;
}

.education-note-list li::before,
.role-task-list li::before {
  content: '\276F';
  /* display: block; */
  margin-right: 0.5rem;
  color: var(--lavender);
}

.education-note-list li:not(:last-of-type),
.role-task-list li:not(:last-of-type){
  margin-bottom: .5em;
}

span.brand-icons {
  font-family: 'tech-brand-icons';
  color: var(--lavender);
}

#svg-text-test {
  border: 1px solid cyan;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
}

#svg-text-test svg {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#svg-text-test svg text {
  font-family: 'tech-brand-icons';
  width: 100%;
  height: 100%;
}

/* @keyframes bob {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.25em);
  }
}

.nav-to-top {
  align-self: center;
}

.nav-to-top .arrow-wrapper {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  transition: 0.1s ease-in-out;
  opacity: 0.5;
}

.nav-to-top .arrow-wrapper:hover {
  animation: bob 0.5s ease-in-out infinite alternate;
  opacity: 1;
}

.nav-to-top .arrow-wrapper svg {
  width: 100%;
  height: 100%;
  stroke: var(--lavender);
  stroke-width: 8px;
  rotate: -90deg;
}

.nav-to-top span {
  color: var(--lavender);
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s ease-out;
  opacity: 0.5;
}

.nav-to-top .arrow-wrapper:hover+span{
  opacity: 1;
} */

/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px) {

  #resume {
    padding-inline: 1rem;
    height: auto;
    max-height: none;
    font-size: 1rem;
  }

  #resume.flex {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  #resume > * {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
  }

  #resume-body {
    padding: 0;
  }

  #resume-projects .project-wrapper, 
  #resume-skills .skills-body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #resume-projects .project-wrapper h3,
  #resume-skills .skills-body h3,
  #resume-projects .project-wrapper p,
  #resume-skills .skills-body p {
    text-align: center;
  }

    #resume-projects .project-wrapper p,
    #resume-skills .skills-body p {
      display: block;
    }

  #resume .dropdown-entry .entry-header {
    display: block;
    text-align: center;
  }

  #resume .dropdown-entry .entry-header h3 {
    margin-bottom: 0.5em;
    text-align: center;
    /* font-size: 0.9rem; */
  }

}