.skill-cache{
  list-style-type: none;
  padding-left: 0;
}

.skill-cache h4 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--keyFont);
}

.skill-cache li {
  cursor: default;
  display: inline-block;
}

.skill-cache li:not(.skill-icon) {
  margin: 0 0.25em 0.25em 0;
  padding: 0.25em 1em;
  background-color: var(--day);
  color: var(--dark);
  font-size: 0.6em;
  font-weight: 600;
  line-height: 1em;
  border-radius: 100px;
}

.skill-cache li.skill-icon {
  position: relative;
  /* margin: 0 0.25em 0.25em 0; */
  margin: 0.05em;
  color: var(--day);
  font-family: 'tech-brand-icons';
  font-size: 2rem;
}

/* ----------- TOOLTIP ----------- */

/* .skill-cache li.skill-icon::before, 
.skill-cache li.skill-icon::after {
  display: block;
  top: -.5em;
} */

.skill-cache li.skill-icon::before {
  content: attr(data-skill);
  position: absolute;
  /* top: -.25em; */
  left: 50%;
  padding: 0.25em 1em;
  background-color: var(--dark);
  color: var(--lite);
  font-family: var(--bodyFont);
  font-size: small;
  line-height: 1em;
  transform: translate(-50%, -100%);
  border-radius: 100px;
  opacity: 0;
}

.skill-cache li.skill-icon:hover::before{
  opacity: 1;
  transition: 0.05s linear 1.5s;
}
/* .skill-cache li.skill-icon:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 9px;
  transform: translate(-50%, 100%);
  border: 10px solid cyan;
  border-color:  var(--dark) transparent transparent transparent;
} */

.skill-cache li .skill-name {
  font-family: var(--bodyFont);
  font-size: 1rem;
}