#welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: var(--darker);
  background-image: radial-gradient(circle, 
    var(--dark), 
    var(--darker), 
    var(--darker), 
    var(--darker)
  );
  color: var(--lite);
  /* transition: 0.2s ease-in-out; */
}

#radial-controller {
  position: relative;
  /* border: 2px solid var(--evening); */
  border-radius: 50%;
  box-sizing: border-box;
  /* transition: 0.2s ease-in-out; */
}

h2#welcome-logo {
  cursor: pointer;
  width: 50vmin;
  min-width: 120px;
  max-width: 600px;
  margin: 0;
  transform: scale(1.25);
  transition: 0.2s linear;
  z-index: 1;
}

#radial-controller.activated h2#welcome-logo {
  transform: scale(1);
}

h2#welcome-logo svg {
  fill: var(--red);
  width: 100%;
  height: 100%;
  /* border: 1px solid cyan; */
  filter: drop-shadow(3px 3px 0 var(--faint));
}

#controller-ring {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* border: 3px solid var(--mid); */
  border-radius: 50%;
  box-sizing: border-box;
  transform: scale(1.1) rotate(5deg);
  transition:0.2s ease-out;
  z-index: 0;
}

#radial-controller.activated #controller-ring {
  opacity: 1;
  transform: scale(1) rotate(0);
}

.rad-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* border: 2px solid var(--mid); */
  box-sizing: border-box;
  border-radius: 50%;
  transform: rotate(-5deg);
  transition: .2s linear;
  /* opacity: 0; */
}

#radial-controller.activated .rad-btn {
  transform: rotate(0);
}

.rad-btn svg {
  width: 100%;
  height: 75%;
  fill: var(--mid);
  /* border: 1px solid red; */
  transition: 0.2s ease-in-out;
}

.rad-btn:hover svg {
  transform: scale(1.1);
  fill: var(--lavender);
}