#welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;
  height: 100vh;
  background-color: var(--darker);
  background-image: radial-gradient(circle, 
    var(--dark), 
    var(--darker), 
    var(--darker), 
    var(--darker)
  );
  color: var(--lite);
  /* transition: 0.2s ease-in-out; */
}

#radial-controller {
  position: relative;
  /* border: 2px solid var(--evening); */
  border-radius: 50%;
  box-sizing: border-box;
  /* transition: 0.2s ease-in-out; */
}

h2#welcome-logo {
  cursor: pointer;
  position: relative;
  width: 50vmin;
  /* height: 50vmin; */
  min-width: 120px;
  max-width: 600px;
  margin: 0;
  transform: scale(1.25);
  transition: 0.2s linear;
  /* border: 1px solid cyan; */
  z-index: 1;
}

#radial-controller.activated h2#welcome-logo {
  transform: scale(1);
}

h2#welcome-logo svg {
  fill: var(--red);
  width: 100%;
  height: 100%;
  /* border: 1px solid cyan; */
  filter: drop-shadow(3px 3px 0 var(--faint));
}

h2#welcome-logo .mode-title {
  --offset: 0.1em;
  position: absolute;
  bottom: var(--offset);
  right: var(--offset);
  color: var(--red);
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  transition: 0.1s ease-out;
  opacity: 0;
}

.activated h2#welcome-logo .mode-title {
  opacity: 1;
  /* transition-delay: 0.5s; */
}

@keyframes flicker{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 50%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    opacity: 1;
  }
}

h2#welcome-logo .mode-title span{
  display: inline-block;
  color: var(--lavender);
  opacity: 0;
  opacity: 0;
  transform: scale(.5) translateY(-0.5em);
  transition: 200ms ease-out;
}

.activated h2#welcome-logo .mode-title span {
  color: var(--red);
  opacity: 1;
  opacity: 1;
  transform: scale(1) translateY(0);
  transition-delay: calc(.75s + 0.1s * var(--i));
}

.activated h2#welcome-logo .mode-title span:hover {
  animation: flicker 0.2s ease-in-out;
}


#controller-ring {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* border: 3px solid var(--mid); */
  border-radius: 50%;
  box-sizing: border-box;
  transform: scale(1.1) rotate(5deg);
  transition:0.2s ease-out;
  z-index: 0;
}

#radial-controller.activated #controller-ring {
  opacity: 1;
  transform: scale(1) rotate(0);
}

.rad-btn {
  /* --size: 6vmax; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: var(--size);
  height: var(--size); */
  /* min-width: var(--size);
  min-height: var(--size); */
  border: none;
  box-sizing: border-box;
  border-radius: 50%;
  transform: scale(.5);
  opacity: 0;
  transition: 0.2s linear;
  /* border: 2px solid var(--mid); */
}

.rad-btn.active {
  animation: flicker 0.3s ease;
}

#radial-controller.activated .rad-btn {
  opacity: 1;
  transform: scale(1);
  transition: .2s linear calc(0.2s * var(--i));
}

.rad-btn svg {
  width: 100%;
  height: 75%;
  fill: var(--mid);
  transition: 0.2s ease-in-out;
  /* border: 1px solid red; */
  /* background-color: black; */
}

.rad-btn:hover svg,
.rad-btn.active svg {
  transform: scale(1.1);
  fill: var(--lavender);
}

#welcome .mode-selector {
  display: none;
}



/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px){
  #welcome {
    overflow: hidden;
  }

  #welcome #controller-ring{
    display: none;
  }

  #welcome h2#welcome-logo {
    transform: none;
    width: 75vw;
  }

  /* ---------- MODE SELECTOR ---------- */
  
  #welcome .control-cache {
    transition: 0.3s ease-out;
    opacity: 1;
  }

  #welcome #radial-controller:not(.activated)+.control-cache {
    max-height: 0;
    opacity: 0;
  }

  #welcome .control-cache .non-mode {
    --size: 15vw;
    width: var(--size);
    height: var(--size);
    padding: 0;
    /* box-sizing: border-box; */
    border-radius: 50%;
    /* background-color: var(--evening); */
    border: 2px solid var(--evening);
    /* mix-blend-mode: lighten; */
    /* border: none; */
    transition: 
      transform 0.1s ease-out,
      opacity 0.1s ease-out;
  }

  #welcome .control-cache.activated .non-mode {
    /* display: none; */
    transform: scale(0.1);
  }

  .control-cache .non-mode svg {
    --size: 75%;
    width: var(--size);
    height: var(--size);
    fill: var(--mid);
  }

  #welcome .mode-selector {
    position: relative;
    /* bottom: 1rem; */
    margin-inline: 0.5rem;
    padding: 0.75rem;
    border: 2px solid var(--evening);
    border-radius: 100px;
    transition: transform 0.5s ease-out;
    mix-blend-mode: lighten;
  }

  #welcome .mode-selector.activated {
    margin-inline: 0;
    /* max-width: 100vw; */
  }

  #welcome .mode-selector.flex {
    display: flex;
  }

  #welcome .mode-selector.activated {
    border-color: var(--red);
  }

  #welcome .mode-selector .legend {
    position: absolute;
    display: block;
    top: 0;
    margin: 0;
    padding-inline: 0;
    line-height: 1em;
    max-width: 0;
    font-family: var(--keyFont);
    font-weight: normal;
    color: var(--red);
    background-color: black;
    overflow: hidden;
    transform: translateY(-50%);
    transition: 0.1s ease-out;
  }

  #welcome .mode-selector .legend::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    height: 50%;
    transform: translateY(calc(-50% - 1px));
    border-inline: 2px solid var(--red);
  }

  #welcome .mode-selector.activated .legend {
    padding-inline: 0.5em;
  }

  #welcome .mode-selector button {
    --size: 20vw;
    --max: 20vmin;
    width: var(--size);
    height: var(--size);
    border: none;
    padding: 0;
    /* border: 2px solid cyan; */
    border-radius: 50%;
    /* border: 1px solid var(--mid); */
    box-sizing: border-box;
    transition: 
      /* opacity 0.1s ease-out, */
      max-width 0.1s linear,
      transform 0.1s ease-out calc(0.2s + 0.2s * var(--i)), 
  }

  #welcome .mode-selector.activated button:not(.active) {
    display: flex;
    max-width: 20vw;
    opacity: 1;
    border: 3px solid var(--evening);
  }

  #welcome .mode-selector:not(.activated) button:not(.active) {
    max-width: 0;
    opacity: 0;
  }

  #welcome .mode-selector.activated button:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  #welcome .mode-selector button svg {
    --size: 75%;
    width: var(--size);
    height: var(--size);
    fill: var(--mid);
    transition: 0.2s ease-out;
    transition-delay: calc(0.15s + 0.15s * var(--i));
  }

  #welcome .mode-selector button.active svg {
    fill: var(--red);
  }

  #welcome .mode-selector:not(.activated) button:not(.active) svg{
    transform: scale(0.25);
    opacity: 0;
  }

  #welcome .mode-selector button:not(.active) svg {
    --size: 60%;
    width: var(--size);
    height: calc(var(--size) * .75);
  }
}
