:root {
  /* --------- COLORS --------- */
  --red: #d10000;
  --pop: var(var(--red));
}

.App {
  text-align: center;
}

header, footer {
    padding: 1rem 2rem;
  } 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1em;
}