@font-face {
  font-family: 'Rajdhani';
  src: url(./assets/fonts/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: 'social-gothic-rough', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url(./assets/fonts/Social-Gothic-Rough.otf) format(opentype);
}

@font-face {
  font-family: 'tech-brand-icons';
  font-weight: normal;
  font-style: normal;
  src: url(./assets/fonts/TechBrands-v1.otf);
}

:root {
  /* ========== BREAKPOINTs ========== */
  --desktop: 0;
  --mobile: 480px;
  --tablet: 0;

  /* ========== COLORS ========== */
  --red: hsl(0, 100%, 41%);
  /* --midnite: hsl(258, 15%, 15%); */
  --midnite: hsl(258, 15%, 10%);
  --nite: hsl(257, 35%, 20%);
  --evening: hsl(245, 30%, 25%);
  --shade: hsl(247, 35%, 40%);
  --sundown: hsl(245, 30%, 60%);;
  --lavender: hsl(246, 57%, 63%);
  --day: hsl(246, 60%, 80%);
  /* --------- X COLORS --------- */
  --lite: hsl(245, 100%, 95%);
  --mid: var(--shade);
  --dark: var(--nite);
  --darker: var(--midnite);
  --pop: var(--red);
  --faint: hsla(0, 0%, 0%, 0.1);
  --phantom: hsla(0,0%,0%,0.05);
  --shaded: hsla(247, 31%, 38%, .75);
  /* ========== FONTS ========== */
  --keyFont: 'social-gothic-rough', sans-serif;
  --bodyFont: 'Rajdhani';
  /* ========== PADDING ========== */
}

html {
  height: 100vh;
  font-size: 24px;
  scroll-behavior: smooth;
}

body, #root, .App {height: 100%;}

body {
  background-color: var(--darker);
  /* color: var(--pop); */
  color: var(--lite);
  font-family: var(--bodyFont);
  font-weight: 500;
}

*::selection {
  background-color: var(--phantom);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: inherit;
  outline: none;
}

button {
  appearance: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: none;
  background-color: transparent;
}

h1, h2, h3{
  font-family: var(--keyFont);
}

h2 {
  color: var(--lavender);
  font-size: 3rem;
  /* background-color: var(--lavender); */
  /* background-image: linear-gradient(175deg, var(--lavender), var(--evening)); */
  /* background-position: 100% 100%; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text; */
  /* color: transparent; */
  /* filter: drop-shadow(3px 3px 2px var(--faint)); */
}

input {
  appearance: none;
  border: 2px solid hsla(0, 0%, 0%, 0.1);
}

main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

main > section {
  scroll-snap-align: start;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex.col {
  flex-direction: column;
}

.grid {
  display: grid;
}

/* SECTIONS */

.site-section {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  padding: 3rem 1rem;
  background-color: var(--lite);
  color: var(--dark);
  box-sizing: border-box;
}

.site-section:not(:first-of-type){
  box-shadow: 0 5px 5px var(--phantom) inset;
}

.site-section h2 {
  color: var(--mid);
}

.site-section p {
  color: var(--sundown);
  font-weight: 500;
}

.site-section p em {
  font-style: normal;
  color: var(--pop);
}

button.pill {
  padding: 0.5em 1.5em;
  border-radius: 100px;
}

/* .site-section:nth-of-type(odd){
  clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
}

.site-section:nth-of-type(even) {
  clip-path: polygon(0 0, 0 95%, 100% 100%, 100% 0);
} */


/* HEADER */

header, footer {
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
  } 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

header h1 {
  margin: 0;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

header nav ul li {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1.25em;
}

.mobile {
  display: none;
}

/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px) {
  html {
    font-size: 21px;
  }
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
  .site-section {
    padding-inline: 0;
  }

  .flex {
    display: flex;
  }

}